<span>
    <input 
        class="io-calendar-picker-input io-input"
        value={{_display}} 
        placeholder="请选择日期" 
        {{action "showPicker"}}/>
    <span class="io-calendar-picker-icon"> </span>
</span>
{{#unless _hidden}}
<div class="io-calendar-picker-container io-calendar-picker-container-placement-bottomLeft" style="top: -3px; left: -3px;">
    <div class="io-calendar" tabindex="0">
        <div class="io-calendar-input-wrap">
            <div class="io-calendar-time-picker-wrap">
            </div>
            <div class="io-calendar-date-input-wrap">
                <input class="io-calendar-input " value={{_display}} placeholder="请选择日期" value=""/>
            </div>
            <a class="io-calendar-clear-btn" role="button" title="清除" {{action 'clear'}}>
            </a>
        </div>
        <div class="io-calendar-date-panel">
            <div class="io-calendar-header">
                <div style="position:relative;">
                    <a class="io-calendar-prev-year-btn" role="button" title="上一年 (Control键加左方向键)" {{action 'prevYear'}}> « </a>
                    <a class="io-calendar-prev-month-btn" role="button" title="上个月 (翻页上键)" {{action 'prevMonth'}}> ‹ </a>
                    <span class="io-calendar-ym-select">
                        <a class="io-calendar-year-select" role="button" title="选择年份">
                            {{_yearDisplay}}
                        </a>
                        <a class="io-calendar-month-select" role="button" title="选择月份">
                            {{_monthDisplay}}
                        </a>
                    </span>
                    <a class="io-calendar-next-month-btn" title="下个月 (翻页下键)" {{action "nextMonth"}}> › </a>
                    <a class="io-calendar-next-year-btn" title="下一年 (Control键加右方向键)" {{action "nextYear"}}> » </a>
                </div>
            </div>
            <div class="io-calendar-calendar-body">
                <table cellspacing="0" class="io-calendar-table" role="grid">
                    <thead>

                        <tr role="row">
                            <th class="io-calendar-column-header" role="columnheader" title="星期一">
                                <span class="io-calendar-column-header-inner">
                                    一
                                </span>
                            </th>
                            <th class="io-calendar-column-header" role="columnheader" title="星期二">
                                <span class="io-calendar-column-header-inner">
                                    二
                                </span>
                            </th>
                            <th class="io-calendar-column-header" role="columnheader" title="星期三">
                                <span class="io-calendar-column-header-inner">
                                    三
                                </span>
                            </th>
                            <th class="io-calendar-column-header" role="columnheader" title="星期四">
                                <span class="io-calendar-column-header-inner">
                                    四
                                </span>
                            </th>
                            <th class="io-calendar-column-header" role="columnheader" title="星期五">
                                <span class="io-calendar-column-header-inner">
                                    五
                                </span>
                            </th>
                            <th class="io-calendar-column-header" role="columnheader" title="星期六">
                                <span class="io-calendar-column-header-inner">
                                    六
                                </span>
                            </th>
                            <th class="io-calendar-column-header" role="columnheader" title="星期天">
                                <span class="io-calendar-column-header-inner">
                                    日
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="io-calendartbody">
	                	{{#each _days as |group|}}
                    		<tr role="row">
                    			{{#each group as |day|}}
                    				{{!-- io-calendar-today --}}
                    				{{!-- io-calendar-last-month-cell --}}
                    				<td class="io-calendar-cell {{day.classNames}}" 
                                        role="gridcell" 
                                        title={{day.title}}
                                        {{action 'onSelectDate' day.m}}>
		                                <span aria-disabled="false" aria-selected="false" class="io-calendar-date">
		                                    {{day.display}}
		                                </span>
		                            </td>
                    			{{/each}}
                    		</tr>
                    	{{/each}}
                    </tbody>
                </table>
            </div>
            <div class="io-calendar-footer">
                <span class="io-calendar-footer-btn">
                    <a class="io-calendar-today-btn " role="button" title="2016-4-19" {{action 'today'}}>
                        今天
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
{{/unless}}