{{#if isShow}}
{{#unless pager}}
  <li class="io-pagination-prev io-pagination-item {{if isFirstDisabled 'io-pagination-disabled'}}">
    <a {{action 'previous'}}></a>
  </li>

  {{#each pages key="@index" as |page|}}
    {{#io-pagination-page-item disabled=disabled page=page selected=this.current seperator=seperator urlTemplate=urlTemplate pageSet='pageChanged'}}{{/io-pagination-page-item}}
  {{/each}}

  <li class="io-pagination-next {{if pagerSpread 'next'}} {{if isLastDisabled 'io-pagination-disabled'}}">
    <a href="{{nextUrl}}" {{action 'next'}}></a>
  </li>
{{else}}
  <li class="io-pagination-prev {{if isFirstDisabled 'io-pagination-disabled'}}">
    <a href="{{previousUrl}}" {{action 'previous'}}></a>
  </li>

  <li class="io-pagination-next {{if pagerSpread 'next'}} {{if isLastDisabled 'io-pagination-disabled'}}">
    <a href="{{nextUrl}}" {{action 'next'}}></a>
  </li>
{{/unless}}
{{/if}}
