
{{!-- toggle --}}
{{#if model.children}}
	<span class="io-select-tree-switcher io-select-tree-noline_{{if model.open 'open' 'close'}}" {{action 'toggleOpen'}}>
	</span>
{{else}}
	<span class="io-select-tree-switcher io-select-tree-switcher-noop io-select-tree-noline_docu">
	</span>
{{/if}}

{{#if root.treeNodeTemplate}}
	{{partial root.treeNodeTemplate}}
{{else}}
	<a {{action 'select'}} class="{{if selected 'io-select-tree-node-selected'}} {{if model.disabled 'io-select-tree-node-disabled'}}">
	    <span class="io-select-tree-title">
	        {{model.title}}
	    </span>
	</a>
{{/if}}

{{!-- children --}}
{{#if model.children}}
	<ul class="io-select-tree-child-tree {{if model.open 'io-select-tree-child-tree-open' }}">
		{{#each model.children as |node|}}
			{{io-tree-select-option
				model=node
				root=root}}
		{{/each}}
	</ul>
{{/if}}