<tbody class="io-table-tbody">
{{#if allColumnsAreHidden}}
  <tr><td colspan={{processedColumns.length}} class="{{classes.noDataCell}}">{{{messages.allColumnsAreHidden}}}</td></tr>
{{else}}
  {{#if visibleContent.length}}
    {{#each visibleContent as |record|}}
      {{partial rowTemplate}}
    {{/each}}
  {{else}}
    <tr>
    	{{#if showIndexNumber}} <td></td> {{/if}}
    	<td colspan={{processedColumns.length}}>{{{messages.noDataToShow}}}</td>
    </tr>
  {{/if}}
{{/if}}
</tbody>