<h1>Alert 警告提示</h1>


{{io-alert 
	message="成功提示的文案" 
	type="success"}}
{{io-alert 
	message="消息提示的文案" 
	type="info"}}
{{io-alert 
	message="警告提示的文案" 
	type="warn"}}
{{io-alert 
	message="错误提示的文案" 
	type="error"}}

<br>	

{{io-alert 
	message="警告提示的文案" 
	type="warn" 
	closable=true}}

{{io-alert 
	message="错误提示的文案" 
	type="error"
	description="错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍" 
	closable=true}}


<br>

{{io-alert 
	message="成功提示的文案" 
	type="success"
	showIcon=true}}
{{io-alert 
	message="消息提示的文案" 
	type="info"
	showIcon=true}}
{{io-alert 
	message="警告提示的文案" 
	type="warn"
	showIcon=true}}
{{io-alert 
	message="错误提示的文案" 
	type="error"
	showIcon=true}}

{{io-alert 
	message="成功提示的文案" 
	description="成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍"
	type="success"
	showIcon=true}}
{{io-alert 
	message="消息提示的文案" 
	description="消息提示的辅助性文字介绍消息提示的辅助性文字介绍消息提示的辅助性文字介绍"
	type="info"
	showIcon=true}}
{{io-alert 
	message="警告提示的文案" 
	description="警告提示的辅助性文字介绍警告提示的辅助性文字介绍"
	type="warn"
	showIcon=true}}
{{io-alert 
	message="错误提示的文案" 
	description="错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍"
	type="error"
	showIcon=true}}

{{io-alert
	message="消息提示的文案"
	type="info"
	closable=true
	closeText="不再提醒"}}




