<h1>
    Select 下拉选择
</h1>

<div class="demo-type">
	<h2>单项选择</h2>
	<p> value 值为双向绑定 </p>
	<div class="demo">
		<div class="demo-example">
			{{io-select width=200 value=value placeholder="请选择名称" options=options}}
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html">
\{{io-select width=200 value=value placeholder="请选择名称" options=options}}
</code></pre>
			</div>
		</div>
	</div>
</div>

<section class="demo-type">
	<div class="demo-doc">
		<p>带搜索的单项选择</p>
		<p><i>可自行根据搜索条件做过滤或者远程获取新数据渲染options</i></p>
	</div>
	<div class="demo">
		<div class="demo-example">
			{{io-select
				showDropdownSearch=true
				width=200
				placeholder="可过滤搜索"
				dropdownSearchPlaceholder="搜索。。"
				value=value
				options=options
				onSearch="onSearch"
				}}
		</div>
		<div class="demo-code">
<div class="highlight">
<pre><code class="language-html">
\{{io-select
	width=200
	showDropdownSearch=true
	placeholder="可过滤搜索"
	value=value
	options=options
	onSearch="onSearch"
	}}

onSearch: function(value) {
	setTimeout(() => {
		this.set('options', [{
			value: 'jack',
			label: 'jack'
		}, {
			value: 'lucy',
			label: 'lucy'
		}, {
			value: '6174',
			label: '6174'
		}]);
	}, 10);
}
</code></pre>
			</div>

		</div>
	</div>
</section>


<div class="demo-type">
	<h2>多项选择</h2>
	<div class="demo">
		<div class="demo-example">
			{{io-select width=200 value=values multiple=true options=options}}
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html">
\{{io-select width=200 value=values multiple=true options=options}}
</code></pre>
			</div>
		</div>
	</div>
</div>

<div class="demo-type">
	<div class="demo-doc">
		<p>带搜索的多项选择</p>
	</div>
	<div class="demo">
		<div class="demo-example">
			{{io-select 
				width=500 
				value=values 
				multiple=true 
				showDropdownSearch=true
				options=options}}
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html">
\{{io-select width=200 value=values multiple=true options=options}}
</code></pre>
			</div>
		</div>
	</div>
</div>

<section class="demo-type">
	<h2>输入提示</h2>
	<div class="demo">
		<div class="demo-example">
			{{io-select
				combobox=true
				width=200
				placeholder="搜索选择"
				value=comboboxValue
				onChange="comboboxOnChange"
				options=comboboxOptions
				}}
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html">
\{{io-select
	combobox=true
	width=200
	placeholder="搜索选择"
	value=comboboxValue
	onChange="comboboxOnChange"
	options=comboboxOptions
	}}

comboboxOnChange: function() {

	if (this.get('comboboxValue') === '') {
		this.set('comboboxOptions', []);
		return;
	}

	setTimeout(() => {
		this.set('comboboxOptions', [{
			value: 'jack',
			label: 'jack'
		}, {
			value: 'lucy',
			label: 'lucy'
		}, {
			value: '6174',
			label: '6174'
		}]);
	}, 1000);
}
</code></pre>
			</div>
		</div>
	</div>
</section>

<section class="demo-type">
	<h2>树选择</h2>
	<div class="demo">
		<div class="demo-example">
			{{io-tree-select 
				treeData=treeData 
				value=treeSelectedValue
				treeNodeTemplate="snippets/tree-node-template"
				}}
		</div>
		<div class="demo-code">
			<div class="highlight">
<pre><code class="language-html">
const treeData = [{
  title: '节点一',
  id: '0-0',
  children: [{
    title: '子节点一',
    id: '0-0-0',
  }, {
    title: '子节点二',
    id: '0-0-1',
  }],
}, {
  title: '节点二',
  id: '0-1',
  children: [{
    title: '子节点三',
    id: '0-1-0',
  }, {
    title: '子节点四',
    id: '0-1-1',
  }],
}];
\{{io-tree-select 
	treeData=treeData 
	value=treeSelectedValue
	treeNodeTemplate="snippets/tree-node-template"}}

</code></pre> </div>
		</div>
	</div>
</section>



